<div class="container">
  <div class="rowcol">
    <div class="div1">
      <h3 class="text-center">
        Renommez les coins de vos 2 triangles, puis remplissez les données à
        dispositions en se conformant à ce triangle !
      </h3>
      <pre>
                  A 
                 / \
                C---B 
               /     \
             D---------E
    </pre
      >

      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="text-center">Resultat :</h3>
            <p class="text-center">
              <strong *ngFor="let res of resultat">{{ res }} <br /></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="div2">
      <form class="form-control" (ngSubmit)="calc()">
        <p>
          Soit ABC
          <!-- <input class="lilInput" type="text" [(ngModel)]="pt" name="pt" /> -->
          et ADE
          <!-- <input class="lilInput" type="text" [(ngModel)]="dt" name="dt" /> -->

          deux triangles avec BC
          <!-- <input class="lilInput" type="text" [(ngModel)]="cp1" name="cp1" /> -->

          et DE
          <!-- <input class="lilInput" type="text" [(ngModel)]="cp2" name="cp2" /> -->

          deux cotés paraleles et A
          <!-- <input class="lilInput" type="text" [(ngModel)]="tete" name="tete" /> -->

          tete commune.
        </p>
        <!-- <label for="coteParalele">Nom du petit triangle</label>
  
      <input
        class="form-control"
        type="text"
        placeholder="Sous form ABC"
        name="premierTriangle"
        [(ngModel)]="premierTriangle"
      />
      <label for="coteParalele">Nom du grand triangle</label>
  
      <input
        class="form-control"
        type="text"
        placeholder="Sous form ADE"
        name="deuxiemeTriangle"
        [(ngModel)]="deuxiemeTriangle"
      /> -->
        <!-- <label for="coteParalele">Tete commune</label>
  
      <input
        class="form-control"
        type="text"
        placeholder="Tete commune sous form A"
        name="teteCommune"
        [(ngModel)]="teteCommune"
      /> -->
        <!-- <label for="coteParalele">Cotés paraleles</label>
      <input
        class="form-control"
        type="text"
        placeholder="sous forme AB,AC"
        name="cotesParaleles"
        [(ngModel)]="cotesParaleles"
      /> -->
        <label for="coteParalele">{{ getAB() }} si possible</label>
        <input
          id="AB"
          class="form-control"
          type="number"
          name="AB"
          [(ngModel)]="AB"
        />
        <label for="coteParalele">{{ getAC() }} si possible</label>
        <input
          id="AC"
          class="form-control"
          type="number"
          name="AC"
          [(ngModel)]="AC"
        />
        <label for="coteParalele">{{ getBC() }} si possible</label>
        <input
          id="BC"
          class="form-control"
          type="number"
          name="BC"
          [(ngModel)]="BC"
        />
        <label for="coteParalele">{{ getAD() }} si possible</label>
        <input
          id="AD"
          class="form-control"
          type="number"
          name="AD"
          [(ngModel)]="AD"
        />
        <label for="coteParalele">{{ getAE() }} si possible</label>
        <input
          id="AE"
          class="form-control"
          type="number"
          name="AE"
          [(ngModel)]="AE"
        />
        <label for="coteParalele">{{ getDE() }} si possible</label>
        <input
          id="DE"
          class="form-control"
          type="number"
          name="DE"
          [(ngModel)]="DE"
        />
        <label for="coteParalele">{{ getCD() }} si possible</label>
        <input
          id="CD"
          class="form-control"
          type="number"
          name="CD"
          [(ngModel)]="CD"
        />
        <label for="coteParalele">{{ getBE() }} si possible</label>
        <input
          id="BE"
          class="form-control"
          type="number"
          name="BE"
          [(ngModel)]="BE"
        />

        <br />
        <button type="submit" class="btn btn-primary">calculer</button>
      </form>
    </div>
  </div>
</div>
